/* items */

body > div{
    display: grid;
    gap: 15px;
}
body > div > div {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 3em;

}

/* specific item styles */

.item-1 {
    background: #b03532;
}
.item-2 {
    background: #33a8a5;
}
.item-3 {
    background: #30997a;
}
.item-4 {
    background: #6a478f;
}
.item-5 {
    background: #da6f2b;
}
.item-6 {
    background: #3d8bb1;
}
.item-7 {
    background: #e03f3f;
}
.item-8 {
    background: #59a627;
}
.item-9 {
    background: #4464a1;
}


@media(max-width: 759px){
    body > div{
        grid-template-columns: 1fr 2fr 1fr;
    }

    .item-9{
        grid-column: 1;
        grid-row: 1;
    }

    .item-2{
        grid-column: 2 / 4;
        grid-row: 1;
    }

    .item-4{
        grid-column: 1;
        grid-row: 2;
    }

    .item-5{
        grid-column: 2 / 4;
        grid-row: 2;
    }

    .item-7{
        grid-column: 1;
        grid-row: 3;
    }

    .item-8{
        grid-column: 2 / 4;
        grid-row: 3;
    }

    .item-3{
        grid-column: 1 / 4;
        grid-row: 4;
    }

    .item-1, .item-6{
        display: none;
    }
}

@media(min-width: 760px){
    body > div{
        grid-template-columns: repeat(3, 1fr);
    }
    body > div > div {
        grid-column: auto;
        grid-row: auto;
    }

}




