main{
    display: grid;
    gap: 15px;
}

.block{
    padding: 30px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.block1{
    background-color: purple;
}

.block2{
    background-color: mediumpurple;
}


.block3{
    background-color: darkslateblue;
}

.block4{
    background-color: lightseagreen;
}


@media(min-width: 992px) {
    main{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
    }

    .block1{
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .block2{
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .block3{
        grid-column: 1;
        grid-row: 3;
    }

    .block4{
        grid-column: 2;
        grid-row: 3;
    }
}


@media(min-width: 772px) and (max-width: 991px){
    main{
        grid-template-columns: 1fr;
    }
    .block1{
        grid-row: 1;
    }

    .block3{
        grid-row: 2;
    }

    .block2{
        grid-row: 3;
    }

    .block4{
        grid-row: 4;
    }
}

@media(max-width: 771px){
    main{
        grid-template-columns: 1fr;
    }

    .block2{
        grid-row: 1;
    }

    .block1{
        grid-row: 2;
    }

    .block3{
        grid-row: 3;
    }

    .block4{
        grid-row: 4;
    }
}