.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    background-color: white;


}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-color: mediumpurple ;
 }
.block.block2{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: darkmagenta;

}
.block.block3{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: deeppink;


}
.block.block4{
    grid-column: 4 / 6 ;
    grid-row: 2 / 3;
    background-color: purple ;

}
.block.block5{
    grid-column: 2 / 6;
    grid-row: 3 / 4;
    background-color: magenta;

}
.block.block6{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background-color: blueviolet;

}
.block.block7{
    grid-column: 4 / 6;
    grid-row: 4 / 5;
    background-color: mediumvioletred;

}
.block.block8{
    grid-column: 1 / 6;
    grid-row: 5 / 6;
    background-color: hotpink;

}
