.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.container .block{
    margin:20px;
    padding:20px;
    background-color: white;

}

.block.block1{
    grid-row: 1;
    grid-column: 1;

 }

.block.block2{
    grid-row: 1;
    grid-column: 5;

}
.block.block3{
    grid-row: 5;
    grid-column: 1;

}
.block.block4{
    grid-row: 5;
    grid-column: 5;

}
.block.block5{
    grid-row: 2;
    grid-column: 3;

}
.block.block6{
    grid-row: 4;
    grid-column: 3;

}
.block.block7{
    grid-row: 3;
    grid-column: 2;

}
.block.block8{
    grid-row: 3;
    grid-column: 4;

}
.block.block9{
    grid-row: 3;
    grid-column: 3;

}