
*{
    box-sizing: border-box;
}

body {
	font: 1.2em/1.2 Helvetica, aria, sans-serif;
	margin: 0 3%;
}

h1 {
	font-size: 1.8em;
	margin: .9em 0 0 0;
}
h2 {
	font-size: 1.5em;
	margin: 1.5em 0 0 0;
}

img {
	max-width: 100%;
}

figure {
	background: black;
	border-radius: 5px;
	color: red;
	margin: 0 0 25px 0;
	padding: 10px;
	text-align: center;
	
}


figcaption {
	font-size: .8em;
}

.gallery{
    display: grid;
    gap: 20px;
}

.gallery{
    grid-template-columns: 1fr;
}
/*mobile*/
@media (min-width: 599px){
    .gallery{
        grid-template-columns: repeat(1, 1fr);
    }
}

/*tablet modus*/
@media (min-width: 600px) and (max-width: 899px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*desktop modus*/
@media (min-width: 900px)  {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

	
}

