table{
    border-collapse: collapse;
    width: 100%;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    border: 1px solid #991821;
}

table td, table th{
    padding: 3px 10px;
}

table thead th{
    background: #991821;
    color:white;
    font-weight: bold;
    font-size: 15px;
}

tbody td {
    border-left: 1px solid #F7CDCD;
    color: #80141C;
}



tbody td:first-child{
    border-left: none;
}

tbody tr.alt td {
    background: #F7CDCD;
}

tbody tr.alt td.onbekend {
    background-color: red;
    color: white;
}