/*algemeen*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
    margin: 10px;
}

*{
    box-sizing: border-box;
}

article{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: inline-block;

}

article:nth-of-type(odd) img{
    float:left;
    margin-left: 10px;
    margin-right: 10px;


}

article:nth-of-type(even) img{
    float: right;
    margin-left: 10px;
    margin-right: 10px;

}
