
body {
    font-family: Helvetica, Arial, sans-serif ;
    margin: 0;
    background-color: #ffffff;
}

/*Header*/
header{
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-bottom: 10px;
}

/* tekstopmaak header*/
header h1,
header h2 {
    color: #EDF2F4;
}

header h1{
    font-size: 80px;
    margin: 0;
}

header h2{
    font-size: 40px;
    margin-top: 10px;
}

/*educ*/
.education{
    background-color: #8D99AE ;
    color: #2B2D42;
    padding: 30px;
    margin-bottom: 10px;
}

/*footer*/
footer{
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-top: 10px;
}

/*link*/
a:link,
a:visited{
    color: #ff0000;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}