html {
    background-color: #333;
    font-family: helvetica;
}

body{
    margin: 5px;
    font-size: 1em;
}

* {
    padding: 10px;
    box-sizing: border-box;
}

nav{
    padding: 5px 2px;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
}
nav a{
    margin: 0 5px;
    border: 1px solid #ccc;
    color: #ddaa00;
    text-decoration: none;
}

img{
    padding: 0;
    max-width: 100%;
    display: block;
}

header, footer{
    background: #ddaa00;
}

header h1{
    margin: 0;
    text-align: center;
    color: white;
}


main{
    background-color: grey;
    display: flex;
    gap: 10px;
}

main div{
    background-color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav a,
main div a{
    border: 1px solid #333;
    background-color: white;
    color: #ddaa00;
    text-align: center;
}


/*mobile first*/
@media (max-width: 700px) {
    /*body{*/
    /*    background-color: blue; !*testen of het werkt*!*/
    /*}*/
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    main {
        flex-direction: column;
        /*    !*gap: 10px;*!*/
        }

        main div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    /*desktop*/
    @media (min-width: 701px) {
        /*body{*/
        /*    background-color: red; !*testen of het werkt!*/
        /*}*/
        nav {
            justify-content: space-between;
        }

        main {
            flex-direction: row;

        }

        main div {
            flex: 1;
        }

        footer {
            text-align: center;
        }
    }

